<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mysite</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <section class="hero is-light is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">
              <form method="post" action="{% url 'accounts.login' %}" class="box">
                {% csrf_token %}

                {% if form.errors %}
                <article class="message is-danger">
                  <div class="message-body">
                    Your username and password didn't match. Please try again.
                  </div>
                </article>
                {% endif %}

                <div class="field">
                  <div class="control has-icons-left">
                    <input type="text" placeholder="Username" class="input" name="username" value="{{ form.username.value|default:'' }}" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-icons-left">
                    <input type="password" placeholder="Password" class="input" name="password" value="{{ form.password.value|default:'' }}" required>
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-primary">Login</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
