{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <form method="post" action="{% url 'customauth:login' %}" class="box">
      {% csrf_token %}

      {% if form.errors %}
      <article class="message is-danger">
        <div class="message-body">
          Your email and password didn't match. Please try again.
        </div>
      </article>
      {% endif %}

      <div class="field">
        <div class="control has-icons-left">
          <input type="email" placeholder="Email" class="input" name="email" value="{{ form.email.value|default:'' }}" required>
          <span class="icon is-small is-left">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <div class="control has-icons-left">
          <input type="password" placeholder="Password" class="input" name="password" value="{{ form.password.value|default:'' }}" required>
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <a class="is-size-7" href="{% url 'customauth:password_reset' %}">Forgot password?</a>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
