{% extends 'base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-7-tablet is-6-desktop is-5-widescreen">
    <form method="post" class="box">
      {% csrf_token %}

      <div class="field">
        <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
      </div>

      <hr>

      <div class="field">
        <label class="label is-small">Login email address</label>
        <div class="control">
          <input type="email" placeholder="Email" class="input" name="email" value="{{ form.email.value|default:'' }}" required>
        </div>
        {% if form.errors.email %}
          {% for message in form.errors.email %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
