{% extends 'base.html' %}

{% block title %}Password reset confirmation{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-5-tablet is-4-desktop is-3-widescreen">
    <form method="post" class="box">
      {% csrf_token %}

      <div class="field">
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      </div>

      <hr>

      <div class="field">
        <label class="label is-small">New password</label>
        <div class="control">
          <input type="password" class="input" name="new_password1" required>
        </div>
        {% if form.errors.new_password1 %}
          {% for message in form.errors.new_password1 %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="field">
        <label class="label is-small">Confirm password</label>
        <div class="control">
          <input type="password" class="input" name="new_password2" required>
        </div>
        {% if form.errors.new_password2 %}
          {% for message in form.errors.new_password2 %}
            <p class="help is-danger">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-primary is-fullwidth">Continue</button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
