{% extends 'base.html' %}

{% block title %}Password reset sent{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column is-7-tablet is-6-desktop is-5-widescreen">
    <div class="box">
      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
      <br>
      <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
  </div>
</div>
{% endblock %}
